<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WatchFaces · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <%= link "WatchFaces", to: Routes.page_path(@conn, :index), class: "navbar-brand" %>
            <button
             class="navbar-toggler"
             type="button"
             data-bs-toggle="collapse"
             data-bs-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <%= link "Faces", to: Routes.face_path(@conn, :index), class: "nav-link active" %>
                </li>
                <%= if @current_user.role == "admin" do %>
                  <li class="nav-item">
                    <%= link "Users", to: Routes.user_path(@conn, :index), class: "nav-link active" %>
                  </li>
                  <li class="nav-item">
                    <%= link "Keywords", to: Routes.keyword_path(@conn, :index), class: "nav-link active" %>
                  </li>
                <% end %>
              </ul>
              <div class="text-end">
                <%= if @current_user do %>
                  <strong>
                  <%= @current_user.username %>
                  </strong>
                  <span class="badge bg-info text-dark"><%= @current_user.role %></span>
                  <%= link "Log out",
                            to: Routes.session_path(@conn, :delete, @current_user),
                            method: "delete" , class: "btn btn-dark mx-2" %>
                 <% else %>
                  <%= link "Register", to: Routes.user_path(@conn, :new), class: "btn btn-primary" %>
                  <%= link "Log in", to: Routes.session_path(@conn, :new), class: "btn btn-secondary" %>
                 <% end %>
              </div>
            </div>
          </div>
        </nav>
    </header>

    <main role="main" class="container min-vh-100 mt-2">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
     <footer class="footer mt-auto py-3 bg-light navbar-fixed-bottom">
      <div class="container text-center">
        <span class="text-muted">© Daniils Petrovs | Powered by Phoenix</span>
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
        <% end %>
      </div>
    </footer>
  </body>
</html>
