<h1>Show Comment</h1>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @comment.content %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @comment.author %>
  </li>

  <li>
    <strong>Face:</strong>
    <%= @comment.face %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.comment_path(@conn, :edit, @comment) %></span>
<span><%= link "Back", to: Routes.comment_path(@conn, :index) %></span>
